/* @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Yaldevi:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Crimson+Text&family=Yaldevi:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Crimson+Text&family=Spartan&family=Yaldevi:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Crimson+Text&family=Lobster+Two:ital,wght@1,700&family=Spartan&family=Yaldevi:wght@300&display=swap');

* {
  /* font-family: 'Antic Slab', serif; */
  font-family: "Spartan", sans-serif;
}
.App {
  text-align: center;
}

body {
  background-image: linear-gradient(
      45deg,
      rgb(186, 216, 245) 25%,
      transparent 25%,
      transparent 75%,
      rgb(217, 203, 224) 75%
    ),
    linear-gradient(
      45deg,
      rgb(78, 124, 167) 25%,
      rgb(248, 237, 207) 25%,
      rgb(254, 212, 255) 75%,
      rgb(102, 126, 148) 75%
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

nav {
  background-image: linear-gradient(
      45deg,
      rgb(166, 208, 247) 25%,
      transparent 25%,
      transparent 75%,
      rgb(217, 203, 224) 75%
    ),
    linear-gradient(
      45deg,
      rgb(0, 83, 160) 25%,
      rgb(248, 237, 207) 25%,
      rgb(254, 212, 255) 75%,
      rgb(0, 83, 160) 75%
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.myTeam {
  text-align: center;
  font-family: 'Lobster Two', cursive;
  font-size: 90px;
  margin-top: 90px;
  margin-bottom: 30px;
  color: rgb(49, 56, 116);
}

#loginForm {
  text-align: center;
  margin-top: 100px;
}
input {
  margin-top: 5px;
}

.welcome {
  font-size: 50px;
}

.premier-table{
  margin-bottom: 80px;
}

.submitButton {
  margin-top: 10px;
}

#signUpButton {
  display: inline-block;
  text-align: center;
  align-items: flex-start;
}

.signUp {
  text-align: center;
}
#showForm {
  text-align: center;

}

.signUp label {
  display: block;
  position: relative;
}
.signUp input {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 250px;
  border-radius: 7px;
  text-align: center;
}

.navBar {
  text-align: center;
  /* font-family: Comfortaa; */
  background-color: white;
  padding: 20px;
  /* font-weight: 900; */
  font-size: 25px;
}

.logoutBtn {
  border-radius: 8px;
  /* background-color: white; */
  /* font-family: Comfortaa; */
  /* padding: 8px 8px; */
  /* font-weight: 900; */
  font-size: 18px;
  position: absolute;
  right: 5%;
}
.welcomeScreen {
  align-items: center;
  text-align: center;
}

.league-logo {
  align-items: center;
  text-align: center;
  height: 100px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 150px */
}

.homePage {
  align-items: center;
  text-align: center;
}

.createPlayer {
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.createForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.createForm label {
  display: block;
  position: relative;
}
.createForm input {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 7px;
  text-align: center;
}

.createSubmit {
  width: 200px;
}

.userPlayer {
  text-align: center;
}


.playerCard {
  /* background-color: rgba(170, 180, 194, 0.253); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  float: left;
  width: 400px;
  height: 600px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  border: 2px solid black;
}

.playerContainer :hover .player {
  transform: translateY(-10px);
}

.playerImg {
  /* display: block; */
  align-items: center;
  justify-content: center;
  margin-left: 75px;
  margin-right: 75px;
  width: 45%;
}

.ratingName {
  margin-top: 0px;
  margin-right: 130px;
  margin-left: 130px;
}

.playerName {
  margin-bottom: 5px;
  text-align: center;
}

.searchBar {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.searchTab {
  width: 30%;
  text-align: center;
  height: 30px;
  font-size: 1em;
  border-radius: 15px;
}
.searchBar input:focus {
  /* transform: translateY(-2px); */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  outline: none;
}

.playerPosition {
  margin-bottom: 0px;
}

.goalieStat {
  margin-right: 12px;
}
.playerStat {
  margin-right: 20px;
}

.playerButton {
  padding-right: 80px;
  padding-left: 80px;
}

.linkToUserTeam {
  padding-left: 80px;
  padding-right: 80px;
  text-decoration: none;
}

.noTeamMessage {
  padding-left: 40px;
  padding-right: 40px;
}

.teamPlayerDetail {
  text-align: center;
}

.teamPlayerName {
  font-size: 50px;
}

.teamPlayerDetail .teamPlayerDetailPic {
  float: left;
  width: 40%;
  /* text-align: left; */
  /* width: 500px; */
  /* margin-right: -500px; */
}
.teamPlayerDetail .teamPlayerDetailInfo {
  float: right;
  width: 60%;
  text-align: left;
}
.TeamPlayerDetailStat {
  float: left;
  width: 50%;
}

.teamPlayerDetailAbout {
  float: right;
  width: 50%;
  padding-bottom: 150px;
}
.teamplayerDetailButtons {
  width: 100%;
  float: left;
  text-align: center;
}

.playerDetailBtn {
  margin-right: 10px;
  border-radius: 8px;
  font-size: 15px;
}

.userPlayers {
  text-align: center;
  margin-bottom: 20px;
}

.challengeBttn {
  margin-bottom: 15px;
  border-radius: 7px;
  font-size: 15px;
}

button {
  color: #444444;
  background: #f3f3f3;
  border: 1px #dadada solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
}

button:hover {
  border: 1px #c6c6c6 solid;
  box-shadow: 1px 1px 1px #eaeaea;
  color: #333333;
  background: #f7f7f7;
}

button:active {
  box-shadow: inset 1px 1px 1px #dfdfdf;
}

button.submitButton {
  color: white;
  background: #4c8ffb;
  border: 1px #3079ed solid;
  box-shadow: inset 0 1px 0 #80b0fb;
}

button.submitButton:hover {
  border: 1px #2f5bb7 solid;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #5a94f1;
  background: #3f83f1;
}

button.submitButton:active {
  box-shadow: inset 0 2px 5px #2370fe;
}

button#signUpButton {
  color: white;
  background: #4c8ffb;
  border: 1px #3079ed solid;
  box-shadow: inset 0 1px 0 #80b0fb;
}

button#signUpButton:hover {
  border: 1px #2f5bb7 solid;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #5a94f1;
  background: #3f83f1;
}

button#signUpButton:active {
  box-shadow: inset 0 2px 5px #2370fe;
}

button.logoutBtn {
  background: #dd4b39;
  background: #dd4b39;
  background: #d14836;
  border: 1px solid #dd4b39;
  color: white;
  text-shadow: 0 1px 0 #c04131;
}

button.logoutBtn:hover {
  background: #c53727;
  background: #c53727;
  background: #c53727;
  border: 1px solid #af301f;
}

button.logoutBtn:active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #ad2719;
  background: #ad2719;
  background: #ad2719;
}

button.addPlayerBtn {
  border-radius: 8px;
  color: white;
  background: #038b53;
  border: 1px #025a35 solid;
  box-shadow: inset 0 1px 0 #10c77b;
}

button.addPlayerBtn:hover {
  border: 1px #038b53 solid;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #15ca7f;
  background: #06965a;
}

button.addPlayerBtn:active {
  box-shadow: inset 0 2px 5px #037546;
}

button.playerDetailBtn {
  background: #dd4b39;
  background: #dd4b39;
  background: #d14836;
  border: 1px solid #dd4b39;
  color: white;
  text-shadow: 0 1px 0 #c04131;
}

button.playerDetailBtn:hover {
  background: #c53727;
  background: #c53727;
  background: #c53727;
  border: 1px solid #af301f;
}

button.playerDetailBtn:active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #ad2719;
  background: #ad2719;
  background: #ad2719;
}

.benchBtn {
  font-size: 15px;
}
button.benchBtn {
  border-radius: 8px;
  color: white;
  background: #038b53;
  border: 1px #025a35 solid;
  box-shadow: inset 0 1px 0 #10c77b;
}

button.benchBtn:hover {
  border: 1px #038b53 solid;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #15ca7f;
  background: #06965a;
}

button.benchBtn:active {
  box-shadow: inset 0 2px 5px #037546;
}

.viewTeamBtn{
  border-radius: 8px;
  font-size: 13px;
}

button.viewTeamBtn {
  color: white;
  background: #4c8ffb;
  border: 1px #3079ed solid;
  box-shadow: inset 0 1px 0 #80b0fb;
}

button.viewTeamBtn:hover {
  border: 1px #2f5bb7 solid;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #5a94f1;
  background: #3f83f1;
}

button.viewTeamBtn:active {
  box-shadow: inset 0 2px 5px #2370fe;
}


.noTeamH1 {
  text-align: center;
  font-size: 40px;
}
.userForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.message {
  width: 350px;
  min-height: 60px;
  margin-top: 10px;
  word-wrap: break-word;
  word-break: break-all;
  background-color: white;
}

button.challengeBttn {
  color: white;
  background: #f19742;
  border: 1px #ec8a2e solid;
  box-shadow: inset 0 1px 0 #d47720;
}

button.challengeBttn:hover {
  border: 1px #f1c091 solid;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #e4af7e;
  background: #f08929;
}

button.challengeBttn:active {
  box-shadow: inset 0 2px 5px #b15c0e;
}