/* @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Yaldevi:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Crimson+Text&family=Yaldevi:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Crimson+Text&family=Spartan&family=Yaldevi:wght@300&display=swap');

* {
  /* font-family: 'Antic Slab', serif; */
  font-family: 'Spartan', sans-serif;
}
.App {
  text-align: center;
}

body {
  background-image: linear-gradient(
      45deg,
      rgb(186, 216, 245) 25%,
      transparent 25%,
      transparent 75%,
      rgb(217, 203, 224) 75%
    ),
    linear-gradient(
      45deg,
      rgb(78, 124, 167) 25%,
      rgb(248, 237, 207) 25%,
      rgb(254, 212, 255) 75%,
      rgb(102, 126, 148) 75%
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

nav {
  background-image: linear-gradient(
      45deg,
      rgb(166, 208, 247) 25%,
      transparent 25%,
      transparent 75%,
      rgb(217, 203, 224) 75%
    ),
    linear-gradient(
      45deg,
      rgb(0, 83, 160) 25%,
      rgb(248, 237, 207) 25%,
      rgb(254, 212, 255) 75%,
      rgb(0, 83, 160) 75%
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}



#loginForm {
  text-align: center;
  margin-top: 100px;
}
input {
  margin-top: 5px;
}

.submitButton {
  margin-top: 10px;
}

#signUpButton {
  display: inline-block;
  text-align: center;
  align-items: flex-start;
}

.signUp {
  text-align: center;
}
#showForm {
  text-align: center;
}

.signUp label {
  display: block;
  position: relative;
}
.signUp input {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 25%;
  border-radius: 7px;
  text-align: center;
}

.navBar {
  text-align: center;
  /* font-family: Comfortaa; */
  background-color: white;
  padding: 20px;
  /* font-weight: 900; */
  font-size: 25px;
}

.logoutBtn {
  border-radius: 8px;
  /* background-color: white; */
  /* font-family: Comfortaa; */
  padding: 8px 8px;
  /* font-weight: 900; */
  font-size: 18px;
  position: absolute;
  right: 5%;
}
.welcomeScreen {
  align-items: center;
  text-align: center;
}

.league-logo {
  align-items: center;
  text-align: center;
  height: 100px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 150px */
}

.homePage {
  align-items: center;
  text-align: center;
}

.createPlayer {
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.createForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.createForm label {
  display: block;
  position: relative;
}
.createForm input {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 7px;
  text-align: center;
}

.createSubmit {
  width: 200px;
}

.userPlayer {
  text-align: center;
}

.playerContainer {
  /* width: 100%; */
  /* text-align: center; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: auto; */
  /* display: inline-flex;  */
  /* margin-left: auto;  */
  /* position: relative; */
}

.playerCard {
  /* background-color: rgba(170, 180, 194, 0.253); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  float: left;
  width: 400px;
  height: 600px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  border: 2px solid black;
}

.playerContainer :hover .player {
  transform: translateY(-10px);
}

.playerImg {
  /* display: block; */
  align-items: center;
  justify-content: center;
  margin-left: 75px;
  margin-right: 75px;
  width: 45%;
}

.ratingName {
  margin-top: 0px;
  margin-right: 130px;
  margin-left: 130px;
}

.playerName {
  margin-bottom: 5px;
  text-align: center;
}

.searchBar {
  text-align: center;
  margin-bottom: 40px;
}
.searchTab {
  width: 30%;
  text-align: center;
  height: 30px;
  font-size: 1em;
  border-radius: 15px;
}
.searchBar input:focus {
  /* transform: translateY(-2px); */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  outline: none;
}

.playerPosition {
  margin-bottom: 0px;
}

.goalieStat {
  margin-right: 12px;
}
.playerStat {
  margin-right: 20px;
}

.playerButton {
  padding-right: 80px;
  padding-left: 80px;
}

.linkToUserTeam {
  padding-left: 80px;
  padding-right: 80px;
  text-decoration: none;
}

.noTeamMessage {
  padding-left: 40px;
  padding-right: 40px;
}

.teamPlayerDetail {
  text-align: center;
}

.teamPlayerName {
  font-size: 50px;
}

.teamPlayerDetail .teamPlayerDetailPic {
  float: left;
  width: 40%;
  /* text-align: left; */
  /* width: 500px; */
  /* margin-right: -500px; */
}
.teamPlayerDetail .teamPlayerDetailInfo {
  float: right;
  width: 60%;
  text-align: left;
}
.TeamPlayerDetailStat {
  float: left;
  width: 50%;
}

.teamPlayerDetailAbout {
  float: right;
  width: 50%;
  padding-bottom: 150px;
}
.teamplayerDetailButtons {
  width: 100%;
  float: left;
  text-align: center;
}

.playerDetailBtn {
  margin-right: 10px;
}

.userPlayers {
  text-align: center;
  margin-bottom: 20px;
}

.challengeBttn {
  margin-bottom: 15px;
}

button {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
}

button:hover {
  border: 1px #C6C6C6 solid;
  box-shadow: 1px 1px 1px #EAEAEA;
  color: #333333;
  background: #F7F7F7;
}

button:active {
  box-shadow: inset 1px 1px 1px #DFDFDF;   
}

button.submitButton {
  color: white;
  background: #4C8FFB;
  border: 1px #3079ED solid;
  box-shadow: inset 0 1px 0 #80B0FB;
}

button.submitButton:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
  background: #3F83F1;
}

button.submitButton:active {
  box-shadow: inset 0 2px 5px #2370FE;   
}

button#signUpButton {
  color: white;
  background: #4C8FFB;
  border: 1px #3079ED solid;
  box-shadow: inset 0 1px 0 #80B0FB;
}

button#signUpButton:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
  background: #3F83F1;
}

button#signUpButton:active {
  box-shadow: inset 0 2px 5px #2370FE;   
}